<h2><%=l(:label_folder)%></h2>

<% form_tag({:action => 'update', :id => @folder}, {:class => "tabular", :method => :put}) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_save) %>
<% end %>

<% content_for :sidebar do %>
   <%= render :partial => 'folders/tree' %>
<% end %> 
